In [5]:
# data analysis and wrangling
import pandas as pd
import io
#import csv
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt

import xlrd
import xlwt
import csv

# machine learning

from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [6]:
# Loading the data set




#columns = "age job marital education default balance housing loan contact day month duration campaign pdays previous poutcome y".split() # Declaring the column names

bank = pd.read_csv('/Users/maheshreddy/Documents/GitHub Destop/PHBS_TQFML/HW/Data Sets/bank/bank.csv', header = 0)

#bank_df = pd.read_csv('/Users/maheshreddy/Documents/GitHub Destop/PHBS_TQFML/HW/Data Sets/bank/bank.csv', usecols=['age', '"balance"', '"day"', '"y"'])
# Split dependent variable and independent variable

#y= bank[:,17]
#x= bank[:1,6,10] # Dependent Variables are AGE, BALANCE, DAY
#original_headers = list(bank.columns.values)

#xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25)

# Creating the training and the testing variables

#bank['split'] = np.random.randn(bank.shape[0], 1)

#msk = np.random.rand(len(bank)) <= 0.8 # 80% train data and 20% test data

#bank_train = bank[msk]
#bank_test = bank[~msk]

#print (bank)

print (bank)

      age            job   marital  education default  balance housing loan  \
0      30     unemployed   married    primary      no     1787      no   no
1      33       services   married  secondary      no     4789     yes  yes
2      35     management    single   tertiary      no     1350     yes   no
3      30     management   married   tertiary      no     1476     yes  yes
4      59    blue-collar   married  secondary      no        0     yes   no
5      35     management    single   tertiary      no      747      no   no
6      36  self-employed   married   tertiary      no      307     yes   no
7      39     technician   married  secondary      no      147     yes   no
8      41   entrepreneur   married   tertiary      no      221     yes   no
9      43       services   married    primary      no      -88     yes  yes
10     39       services   married  secondary      no     9374     yes   no
11     43         admin.   married  secondary      no      264     yes   no
12     36     technician   married   tertiary      no     1109      no   no
13     20        student    single  secondary      no      502      no   no
14     31    blue-collar   married  secondary      no      360     yes  yes
15     40     management   married   tertiary      no      194      no  yes
16     56     technician   married  secondary      no     4073      no   no
17     37         admin.    single   tertiary      no     2317     yes   no
18     25    blue-collar    single    primary      no     -221     yes   no
19     31       services   married  secondary      no      132      no   no
20     38     management  divorced    unknown      no        0     yes   no
21     42     management  divorced   tertiary      no       16      no   no
22     44       services    single  secondary      no      106      no   no
23     44   entrepreneur   married  secondary      no       93      no   no
24     26      housemaid   married   tertiary      no      543      no   no
25     41     management   married   tertiary      no     5883      no   no
26     55    blue-collar   married    primary      no      627     yes   no
27     67        retired   married    unknown      no      696      no   no
28     56  self-employed   married  secondary      no      784      no  yes
29     53         admin.   married  secondary      no      105      no  yes
...   ...            ...       ...        ...     ...      ...     ...  ...
4491   35    blue-collar    single  secondary      no        0     yes   no
4492   32     technician    single  secondary      no      309     yes  yes
4493   28     technician    single   tertiary      no        0     yes   no
4494   26     technician    single  secondary      no      668     yes   no
4495   48     management   married   tertiary      no     1175     yes   no
4496   30    blue-collar    single  secondary      no      363      no   no
4497   31   entrepreneur    single   tertiary      no       38      no   no
4498   31     management   married   tertiary      no     1183     yes   no
4499   45    blue-collar  divorced    primary      no      942      no   no
4500   38         admin.   married  secondary      no     4196     yes   no
4501   34     management   married   tertiary      no      297     yes   no
4502   42       services   married  secondary      no      -91     yes  yes
4503   60  self-employed   married    primary      no      362      no  yes
4504   42    blue-collar    single  secondary      no     1080     yes  yes
4505   32         admin.    single  secondary      no      620     yes   no
4506   42     unemployed  divorced   tertiary      no     -166      no   no
4507   33       services   married  secondary      no      288     yes   no
4508   42         admin.   married    unknown      no      642     yes  yes
4509   51     technician   married   tertiary      no     2506      no   no
4510   36     technician  divorced  secondary      no      566     yes   no
4511   46    blue-collar   married  secondary      no      668     yes   no
4512   40    blue-collar   married  secondary      no     1100     yes   no
4513   49    blue-collar   married  secondary      no      322      no   no
4514   38    blue-collar   married  secondary      no     1205     yes   no
4515   32       services    single  secondary      no      473     yes   no
4516   33       services   married  secondary      no     -333     yes   no
4517   57  self-employed   married   tertiary     yes    -3313     yes  yes
4518   57     technician   married  secondary      no      295      no   no
4519   28    blue-collar   married  secondary      no     1137      no   no
4520   44   entrepreneur    single   tertiary      no     1136     yes  yes

        contact  day month  duration  campaign  pdays  previous poutcome    y
0      cellular   19   oct        79         1     -1         0  unknown   no
1      cellular   11   may       220         1    339         4  failure   no
2      cellular   16   apr       185         1    330         1  failure   no
3       unknown    3   jun       199         4     -1         0  unknown   no
4       unknown    5   may       226         1     -1         0  unknown   no
5      cellular   23   feb       141         2    176         3  failure   no
6      cellular   14   may       341         1    330         2    other   no
7      cellular    6   may       151         2     -1         0  unknown   no
8       unknown   14   may        57         2     -1         0  unknown   no
9      cellular   17   apr       313         1    147         2  failure   no
10      unknown   20   may       273         1     -1         0  unknown   no
11     cellular   17   apr       113         2     -1         0  unknown   no
12     cellular   13   aug       328         2     -1         0  unknown   no
13     cellular   30   apr       261         1     -1         0  unknown  yes
14     cellular   29   jan        89         1    241         1  failure   no
15     cellular   29   aug       189         2     -1         0  unknown   no
16     cellular   27   aug       239         5     -1         0  unknown   no
17     cellular   20   apr       114         1    152         2  failure   no
18      unknown   23   may       250         1     -1         0  unknown   no
19     cellular    7   jul       148         1    152         1    other   no
20     cellular   18   nov        96         2     -1         0  unknown   no
21     cellular   19   nov       140         3     -1         0  unknown   no
22      unknown   12   jun       109         2     -1         0  unknown   no
23     cellular    7   jul       125         2     -1         0  unknown   no
24     cellular   30   jan       169         3     -1         0  unknown   no
25     cellular   20   nov       182         2     -1         0  unknown   no
26      unknown    5   may       247         1     -1         0  unknown   no
27    telephone   17   aug       119         1    105         2  failure   no
28     cellular   30   jul       149         2     -1         0  unknown   no
29     cellular   21   aug        74         2     -1         0  unknown   no
...         ...  ...   ...       ...       ...    ...       ...      ...  ...
4491   cellular   16   apr       169         1     -1         0  unknown   no
4492   cellular   16   apr       346         1    234         3  failure   no
4493    unknown    4   jun       205         6     -1         0  unknown   no
4494    unknown   28   may       576         3     -1         0  unknown  yes
4495  telephone   18   nov      1476         3     -1         0  unknown   no
4496   cellular   28   jul       171         3     -1         0  unknown   no
4497   cellular   20   nov       185         2     -1         0  unknown   no
4498    unknown   27   may       676         6     -1         0  unknown   no
4499   cellular   21   nov       362         1     -1         0  unknown   no
4500   cellular   12   may       193         2     -1         0  unknown   no
4501   cellular   26   aug        63         4     -1         0  unknown   no
4502   cellular    5   feb        43         1     -1         0  unknown   no
4503   cellular   29   jul       816         6     -1         0  unknown  yes
4504   cellular   13   may       951         3    370         4  failure  yes
4505    unknown   26   may      1234         3     -1         0  unknown  yes
4506   cellular   29   aug        85         4     -1         0  unknown   no
4507   cellular   17   apr       306         1     -1         0  unknown   no
4508    unknown   16   may       509         2     -1         0  unknown   no
4509   cellular   30   nov       210         3     -1         0  unknown   no
4510    unknown   20   may       129         2     -1         0  unknown   no
4511    unknown   15   may      1263         2     -1         0  unknown  yes
4512    unknown   29   may       660         2     -1         0  unknown   no
4513   cellular   14   aug       356         2     -1         0  unknown   no
4514   cellular   20   apr        45         4    153         1  failure   no
4515   cellular    7   jul       624         5     -1         0  unknown   no
4516   cellular   30   jul       329         5     -1         0  unknown   no
4517    unknown    9   may       153         1     -1         0  unknown   no
4518   cellular   19   aug       151        11     -1         0  unknown   no
4519   cellular    6   feb       129         4    211         3    other   no
4520   cellular    3   apr       345         2    249         7    other   no

[4521 rows x 17 columns]

In [10]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 1 columns):
age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"    4521 non-null object
dtypes: object(1)
memory usage: 35.4+ KB